<!DOCTYPE HTML>
<html lang="en-EN">
<head>
  <meta charset="UTF-8">
  <title>The @Codeship Xmas Countdown</title>
  <meta content="We open one present a day. Come back every day to learn about Software Development, Continuous Integration and Continuous Deployment. Check it out!" name="description">
  <meta content="jkNiT3IkokTBHUog4wQgLCWb7bwaqT9OVkfC49-GaPc" name="google-site-verification">
  <meta content="The @Codeship Xmas Countdown" name="subject">
  <meta content="advent, xmas, christmas, codeship, continuous integration, continuous deployment, ebook, continuous delivery, testing, software testing, Workflow, Development Workflow, Development Workflows, Software, Software Development, Branching, Git, GitHub, Front-End Development, Back-End Development, Minimum viable feature, Shipping, agile, lean, Pull Request, Pull Requests, Code Review, codereview, Branching, issues, github flow, merge, merging, merge button, deployment, deployment pipeline, deployment pipelines, zero downtime, production, staging, Heroku, Codeship, migration, continuous delivery, zero downtime deployment" name="abstract">
  <meta content="Continuous Integration, Continuous Deployment, Software Testing" name="topic">
  <meta content="Continuous Integration, Continuous Deployment, Software Testing" name="summary">
  <meta content="Clemens Helm" name="designer">
  <meta content="Codeship Inc." name="copyright">
  <meta content="resources@codeship.io" name="reply-to">
  <meta content="Codeship Inc." name="owner">
  <meta content="http://xmas.codeship.io" name="URL">
  <meta content="http://xmas.codeship.io" name="identifier-URL">
  <meta content="Worldwide" name="coverage">
  <meta content="Global" name="distribution">
  <meta content="General" name="Rating">
  <meta http-equiv="Content-Language" content="en-us">
  <!-- / facebook -->
  <meta content="http://xmas.codeship.io/" property="og:url">
  <meta content="The Codeship Xmas Countdown" property="og:site_name">
  <meta content="http://xmas.codeship.io/assets/560x292-OG_Xmas_Countdown.jpg" property="og:image">
  <meta content="The Codeship Xmas Countdown" property="og:title">
  <meta content="We open one present a day. Come back every day to learn about Software Development, Continuous Integration and Continuous Deployment. Check it out!" property="og:description">
  <meta content="website" property="og:type">
  <meta content="clemens.helm" property="fb:admins">
  <!-- / twitter -->
  <meta content="summary_large_image" name="twitter:card">
  <meta content="http://xmas.codeship.io/" name="twitter:url">
  <meta content="The @Codeship Xmas Countdown. Each day a new surprise." name="twitter:title">
  <meta content="We open one present a day. Come back every day to learn about Software Development, Continuous Integration and Continuous Deployment. Check it out!" name="twitter:description">
  <meta content="http://xmas.codeship.io/assets/560x292-OG_Xmas_Countdown.jpg" name="twitter:image">
  <meta content="@codeship" name="twitter:site">
  <meta content="220165520" name="twitter:site:id">
  <meta content="@codeship" name="twitter:creator">
  <meta content="220165520" name="twitter:creator:id">
  <!-- / google plus -->
  <meta content="The Codeship Xmas Countdown" itemprop="name">
  <meta content="We open one present a day. Come back every day to learn about Software Development, Continuous Integration and Continuous Deployment. Check it out!" itemprop="description">
  <meta content="http://xmas.codeship.io/assets/560x292-OG_Xmas_Countdown.jpg" itemprop="image">

  <script type="text/javascript">
    (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);

    mixpanel.init("a8865d62f2d6ce8257be6047d853c926");
  </script>

  <style type="text/css">
    body {
      font-family: Arial, sans-serif;
       background: url(assets/cream_dust.png) repeat;
    }

    a {
      text-decoration: none;
      color: #222;
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #wrapper {
      max-width: 1000px;
      margin: 0 auto;
    }

    #wrapper header iframe {
      display: inline-block;
    }

    #wrapper header h1 {
      line-height:101px;
    }

    #wrapper header h1 a {
      font-size: 0px;
      color: transparent;
      text-shadow: none;
      border: 0;
      display: inline-block;
      background: url(assets/codeship_santa_claus.png) no-repeat center;
      width: 250px;
      height: 83px;
      overflow: hidden;
      float: left;
      margin-right: 20px;
    }

    .social-media {
      position: absolute;
      list-style-type: none;
      top: 10px;
      right: 10px;
    }

    .social-media li {
      float: left;
      width: 120px;
    }

    .day {
      font-family: Georgia, serif;
      color: #B92D2D;
      text-shadow: rgba(0,0,0,0.3) 3px 3px 5px;
      margin-bottom: 0.15em;
    }

    #today, #days_list li, header {
      margin: 25px;
    }

    #today, #days_list li {
      border: 1px solid #ccc;
      text-align: center;
      padding: 0 2% 2%;
    }

    #today:hover, #days_list li:hover {
      background: #EEE;
    }

    header {
      line-height: 83px;
    }

    header img {
      margin-top: -23px;
      margin-right: 0.7em;
      vertical-align: middle;
    }
    
    #today {
      padding: 0;
    }
    
    #today img {
      display: block;
    }

    #today a {
      color: inherit;
      display: inline-block;
    }

    #today .day {
      font-size: 15em;
    }

    #today .call_to_action {
      margin-top: 2em;
    }

    #today .call_to_action a {
      background: #DD7732;
      color: white;
      padding: 1%;
      display: inline-block;
      border-radius: 6px;
      -webkit-border-radius: 6px; 
      -moz-border-radius: 6px; 
    }

    #days_list {
      list-style: none;
      padding: 0;
    }

    #days_list li {
      float: left;
      width: 200px;
      height: 200px;
      overflow: hidden;
      box-shadow: inset 0px 0px 20px #ccc;
      -moz-box-shadow: inset 0px 0px 20px #ccc;
      -webkit-box-shadow: inset 0px 0px 20px #ccc;
    }
    
    #days_list li a .title {
      font-size: 0.8em;
    }

    #days_list .day {
      font-size: 7em;
    }

    #days_list .day.soon {
      width: 100%;
      height: 100%;
      background: url(assets/logo_santa_claus.png) no-repeat center;
      line-height: 180px;
      text-shadow: rgba(0,0,0,0.9) 3px 3px 8px;
      opacity: 0.5;
      cursor: default;
      color: #207EAA;
    }

  </style>
</head>
<body>
  <div id="fb-root"></div>
  <ul class="social-media">
    <li>
      <div class="fb-like" data-href="http://xmas.codeship.io/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-width="150"></div>
    </li>
    <li>
      <a class='twitter-share-button' data-text="Check out the @Codeship Xmas Countdown! Every day a new free goody! – " href='https://twitter.com/share'>Tweet</a>
    </li>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <li>
      <div class="g-plusone"></div>
    </li>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <li>
      <script src="//platform.linkedin.com/in.js" type="text/javascript">
       lang: en_US
      </script>
      <script type="IN/Share" data-url="http://xmas.codeship.io" data-counter="right"></script>
    </li>
  </ul>
  <div id="wrapper">
    <header>
      <h1>
        <a href="https://www.codeship.io">Try Codeship for Continuous Integration and Continuous Deployment</a>
        The Codeship Xmas Countdown
      </h1>
    </header>
    <div id="today">
      <img src="assets/crew.jpg">
    </div>
    <div id="days">
      <ul id="days_list">
        {{#days}}<li>
          {{#open}}
          <a href="{{link}}">
            <div class="day">{{day}}</div>
            <div class="title">{{title}}</div>
          </a>
          {{/open}}
          {{^open}}
          <div title="Coming soon…" class="day soon">{{day}}</div>
          {{/open}}
        </li>{{/days}}
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21192046-1']);
    _gaq.push(['_setDomainName', 'codeship.io']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type="text/javascript">
    if (mixpanel.hasOwnProperty("get_property") == false) {
      mixpanel.register({ "user_type" : "guest" });
    }

    var query = window.location.search.substring(1);
    var vars = query.split("&");
    var params = {};
    for(var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      params[pair[0]] = pair[1];
    }

    var properties = {
      "NEW - First Ever Seen Date"         : new Date().toUTCString(),
      "NEW - First Ever Landed Page Title" : document.title,
      "NEW - First Ever Landed Page URL"   : document.URL,
      "NEW - First Ever UTM Campaign"      : params["utm_campaign"],
      "NEW - First Ever UTM Content"       : params["utm_content"],
      "NEW - First Ever UTM Source"        : params["utm_source"],
      "NEW - First Ever UTM Medium"        : params["utm_medium"],
      "NEW - First Ever UTM Term"          : params["utm_term"]
    };

    mixpanel.register_once(properties);
    mixpanel.people.set_once(properties);

    mixpanel.track("NEW - Page Viewed", {
      "NEW - Current Page Title"            : document.title,
      "NEW - Current Page URL"              : document.URL,
      "NEW - Current Domain"                : "xmas.codeship.com",
      "NEW - Counts As Landingpage Traffic" : "No"
    });
  </script>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=148544078502103";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</body>
</html>
