<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
  <meta charset="UTF-8">
  <title>Codeship Adventkalender</title>
  <style type="text/css">
    body {
      font-family: Arial, sans-serif;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #wrapper {
      max-width: 1000px;
      margin: 0 auto;
    }

    .day {
      font-family: Georgia, serif;
      color: #980;
      text-shadow: rgba(0,0,0,0.3) 3px 3px 5px;
      margin-bottom: 0.15em;
    }

    #today, #days_list li, header {
      margin: 25px;
    }

    #today, #days_list li {
      border: 1px solid #ccc;
      text-align: center;
      padding: 0 2% 2%;
    }

    #today:hover, #days_list li:hover {
      background: #EEE;
    }

    header {
      line-height: 83px;
    }

    header img {
      margin-top: -23px;
      margin-right: 0.7em;
      vertical-align: middle;
    }

    #today a {
      color: inherit;
      display: inline-block;
    }

    #today .day {
      font-size: 15em;
    }

    #today .call_to_action {
      margin-top: 2em;
    }

    #today .call_to_action a {
      background: #A20;
      color: white;
      padding: 1%;
    }

    #days_list {
      list-style: none;
      padding: 0;
    }

    #days_list li {
      float: left;
      width: 200px;
      height: 200px;
      overflow: hidden;
    }

    #days_list .day {
      font-size: 7em;
    }

    #days_list .day.soon {
      width: 100%;
      height: 100%;
      background: url(assets/logo_santa_claus.png) no-repeat center;
      line-height: 180px;
      text-shadow: rgba(0,0,0,0.9) 3px 3px 8px;
      opacity: 0.5;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1>
        <a href="https://www.codeship.io">
          <img src="assets/codeship_santa_claus.png" alt="Codeship Christmas Logo">
        </a>
        Advent Calendar
      </h1>
    </header>
    <div id="today">
      {{#today}}
      <a href="{{link}}">
        <div class="day">{{day}}</div>
        <div class="description">{{description}}</div>
      </a>
      <p class="call_to_action">
        <a href="{{link}}">{{callToAction}}</a>
      </p>
      {{/today}}
    </div>
    <div id="days">
      <ul id="days_list">
        {{#days}}<li>
          {{#open}}
          <a href="{{link}}">
            <div class="day">{{day}}</div>
            <div class="title">{{title}}</div>
          </a>
          {{/open}}
          {{^open}}
          <div title="Coming soon…" class="day soon">{{day}}</div>
          {{/open}}
        </li>{{/days}}
      </ul>
    </div>
  </div>
</body>
</html>
